
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/test.css">
  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>

 <!--<iframe src="http://vl.ru"> </iframe>-->     
<a href="sfsf"></a>
<div id="aaa">
    <div class="foo" id="bar">первый</div>
    <div class="foo" id="baz">второй</div>
</div>

 
    

</body>
</html>
<!-- Для страницы test-->
<script>
  /*
  var headings = $('div');
  console.log(headings.length)
  */
/*
  var headings = $('div');
  console.log(headings[0])
  */
  /*
  var a = $('#aaa')[0].tagName
  console.log(a)
  */
  /*
  var a = $('<a/>', {
    href: 'yandex.ru',
    html: 'ссылка'
  });
  a.appendTo('#aaa')
  */
  //var div = $('#aaa div:first').appendTo('#aaa')
  //$(' <p>текст</p>').appendTo('div')

//$('div').before('<p>insert before</p>');

//$('<p>абзац</p>').insertAfter('div')

  /*
  $('h1').eq(1).html('Прива <input type="text">');
  */
  /*
$('h2').html('Получилось')
var a = $('h2').html()
console.log(a)
*/
/*
var div = $('h1').not('.baz')
console.log(div)
*/
/*
    $(()=>{
    $('a').attr({
      "href": "index.php",
      "title": "hello"
    })
  });

  console.log($('a').attr('href'))
  */
  /*
  var aaa = $('a').attr('href');
  console.log(aaa)
  */
  /*
  $(()=>{
    $('a').attr('href', 'index.php')
  })
  */
  /*
    function example(){
      console.log('hello')
    };
   $(example);
   */
    //$("h1").remove();
    /*
    $(()=>{
      console.log("да")
    })
    */
   
  </script>
  <script>
   /* async function getData(){
      let data = await fetch('vk.com');
      console.log(data)
      
    }
    //getData(); //1 вариант

    (async () => {
      try{
        await getData();
      }
      catch (err){
        console.log(err)
      }
    })();
/*
    function getData(){
      let data = fetch('https://vk.com');
      console.log(data)
      data
      .then(res => res.json())
      .then(data => console.dir(data))
    }
    getData();
*/
  /*
      var myPromise = new Promise(function(resolve, reject){
        let data = fetch('vl.ru');
        if(data){
          var res = data;
          resolve(res);
        } else{
          var err = "ошибка"
          reject(err);
        }
      });
    

    var getPromise = function(){
        myPromise
        .then(function(yes){
          console.log(yes)
        })
        .catch(function(error){
          console.log(error)
        })
    }

    getPromise();

    */
   /*
    var data = 3;
    var a = function(){
      return new Promise(function(resolve, reject){
        setTimeout(function(){
          let yes = 1;
          let no = 2;
          resolve(yes);
          reject(no);
          console.log('good');
        }, 2000);
        
      })
      .then(message => console.log(data + message))
      .catch(error => console.log(error));
    }
    a();
*/
  </script>